---
const user = Astro.locals.user;

// if (!user) {
// 	return Astro.redirect("/login");
// }
---
<div class="flex items-center justify-between mt-6 mb-20">
    <h1>
        <a href="/" class="text-2xl font-bold tracking-tight text-gray-900">
            home
        </a>
    </h1>
    <nav>
        <ul class="flex items-center space-x-4">
            {user && <li>
                <a href="#" class="text-gray-900 flex gap-2 items-center justify-center border-2 border-gray-300 rounded-full px-4 py-2">
                    <strong class="font-bold">{user.name}</strong>
                    <img
                        class="h-8 w-8 rounded-full" src={`${user.picture}`} alt={`${user.name}`}  referrerpolicy="no-referrer" />
                </a>
            </li>}
        </ul>
    </nav>
</div>
