---
import "@styles/global.css";
import { ViewTransitions } from "astro:transitions";

const { title, description } = Astro.props;

const siteTitle = `${title ? `${title} |` : ""} title`;
const siteDescription = description || "description";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{siteTitle}</title>
		<meta name="description" content={siteDescription} />

        <ViewTransitions />
	</head>
	<body class="bg-slate-100">
        <slot />
	</body>
</html>
