---
import BaseHtml from "@layouts/Base.astro";
import Header from "@components/dashboard/Header.astro";
import Footer from "@components/dashboard/Footer.astro";

const { title, description } = Astro.props;
---

<BaseHtml title={title} description={description}>
    <Header />
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <slot />
    </main>
	<Footer />
</BaseHtml>
